/* navbar start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.navbar {
    display: flex;
    background-color:rgb(246, 219, 145);
    height:60px;
    align-items: center;
    justify-content:center;
    padding: 0 20px;
    position: relative;
}

.logo {
    position:absolute;
    left:20px;
    font-weight:bold;
    font-style:italic;
    font-size:30px;
}

.navbar .logo span-a {
    color:red;
}

.navbar .logo span-b {
    color:rgb(175, 175, 15);
}

.navbar .logo span-c {
    color:green;
}

.nav-links {
    list-style:none;
    display:flex;
    gap:30px;
    margin:0;
    padding:0;
}

.nav-links li a {
    text-decoration:none;
    color:#000;
    font-weight:bold;
    font-size:20px;
}

.navbar .nav-links a:hover {
    color:red;
}

.navbar .nav-links a::after {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1 solid red;
    transform: scaleX(0);
    transition: 0.2s linear;
}
 
.navbar .nav-links a:hover::after {
    transform: scaleX(0.5);
}

/* navbar end */

/* hero start */

.hero-section {
    position: relative;
    width:100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(pp16.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.hero-text {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;
    width: bold;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    
}

.card {
    background-color:white;
    opacity: 0.8;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 250px;
    
}

.card h3 {
    color: #333;
    margin-bottom: 15px;
}

.card p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.main-img {
    width: 500%;
    max-width: 80px;
    height: auto;
    border-radius: 10px;
}

.font P {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.card h1 {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.main-img1 {
    display: grid;
    max-width: 80px;
    width: 500%;
    height: auto;
    border-radius: 30px;

}
